body div#wpr-body {
	margin-left: 10px;
}

body.df-sidebar div#wpr-body {
	margin-left: 240px;
}

#df-wpr-sidebar,
#df-wpr-sidebar,
.ui-context-menu,
div.ui-dialog form label,
#ui-file-select-filter-label,
#ui-image-select-filter-label {
	font-family: 'Lucida Grande', 'DejaVu Sans', 'Bitstream Vera Sans', Verdana, sans-serif;
	font-size: 11px;
	letter-spacing: 0;
	font-weight: normal;
	font-style: normal;
	color: #000;
	text-decoration: none;
	text-transform: none;
	line-height: 22px;
	vertical-align: baseline;
}

#df-wpr-sidebar {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

#df-layer {
	position: relative;
	z-index: 900;
}

#fiber-backend-toolbar {
	border-bottom: 1px solid #a6a6a6;
	padding: 2px 0 3px 5px;
	height: 20px;
	background: #d5d5d5;
	background: -webkit-gradient(linear, left top, left bottom, from(#eaeaea), to(#c2c2c2));
	background: -moz-linear-gradient(top, #eaeaea, #c2c2c2);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#eaeaea', endColorstr='#c2c2c2');
	background-attachment: fixed;
}

#fiber-backend-toolbar p.frontend {
	margin: 0;
}

#fiber-backend-toolbar a {
	color: #333;
	font-size: 11px;
}

#df-wpr-sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 240px;
	height: 100%;
	z-index: 900;
}

#df-wpr-sidebar.df-hidden {
	left: -230px;
}

#df-wpr-sidebar #df-sidebar {
	width: 230px;
	height: 100%;
	border-right: 1px solid #a6a6a6;
	background: #d5d5d5;
	background: -webkit-gradient(linear, left top, left bottom, from(#eaeaea), to(#c2c2c2));
	background: -moz-linear-gradient(top, #eaeaea, #c2c2c2);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#eaeaea', endColorstr='#c2c2c2');
	overflow-y: auto;
	overflow-x: hidden;
	padding-top: 0;
	background-attachment: fixed;
}

#df-wpr-sidebar #df-btn-toggle-sidebar {
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0;
	width: 10px;
	height: 100%;
	background: #333 url(../images/button-toggle-sidebar.gif) no-repeat 0 50%;
}

#df-wpr-sidebar #df-btn-toggle-sidebar.df-hidden {
	background-position: -10px 50%;
}

#df-sidebar h2 {
	font-size: 15px;
	font-weight: normal;
	margin-left: 21px;
	margin-bottom: 2px;
}

#df-sidebar .sidebar-tree {
	margin-bottom: 10px;
	margin-left: 10px;
}

#df-sidebar #df-sidebar-top-section {
    box-sizing: content-box;
	margin-bottom: 10px;
	border-bottom: 1px solid #a6a6a6;
	padding: 2px 0 3px 5px;
	height: 20px;
}

#df-sidebar #df-sidebar-top-section a {
	color: #333;
}

#df-sidebar #df-sidebar-top-section p.backend {
	margin-left: 0;
}

#df-sidebar #df-sidebar-top-section p.logout {
	display: block;
	float: right;
	margin-right: 10px;
}

#df-sidebar #df-sidebar-top-section span.icon,
#fiber-backend-toolbar span.icon {
	display: inline-block;
	width: 16px;
	height: 15px;
	background: transparent url("Aristo-jQuery-UI-Theme/css/Aristo/images/ui-icons_222222_256x240.png") -2px -62px no-repeat;
}

#df-sidebar #df-sidebar-content-section {
    padding-bottom: 22px;
}

#df-sidebar #df-sidebar-version {
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 1px solid #ddd;
    background-color: #c2c2c2;
    width: 100%;
}

#df-sidebar #df-sidebar-version p {
    margin: 0;
    padding: 0 0 0 21px;
    font-size: 10px;
    color: #999;
}

/* prevent margin collapsing in admin */
.content[data-fiber-data]:after {
	content: ".";
	display: block;
	margin: -1px 0;
	padding: 1px 0;
	height: 0;
	clear: both;
	visibility: hidden;
	font-size: 0;
	line-height: 0;
}

body [data-fiber-data*='"url":']:hover {
	box-shadow: 0 0 15px 5px rgba(87,182,255,0.5);
	cursor: pointer;
}

.content[data-fiber-data] .df-buttons {
	display: none;
	position: absolute;
	top: 2px;
	right: 0;
}

.content[data-fiber-data]:hover .df-buttons {
	display: block;
}

.content[data-fiber-data] a.ui-button,
#df-layer a.ui-button {
	width: 16px;
	height: 16px;
	opacity: 0.85;
	filter: alpha(opacity=85);
}

#df-layer a.ui-button {
	position: absolute;
}

.content[data-fiber-data] a.ui-button:hover,
#df-layer a.ui-button:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}

#df-layer a.add {
	background: transparent url(../images/button-add.png) no-repeat;
}

li.hidden-in-menu {
	opacity: 0.5;
	filter: alpha(opacity=50);
}

#df-wpr-busy {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #222D3F url('../images/busy.gif') no-repeat center center;
	z-index: 9999;
	opacity: 0.7;
	filter: alpha(opacity=70);
}

/*---[ Aristo customizations ]---*/

.ui-button-text-only .ui-button-text {
	padding: 5px 12px 3px;
}

.ui-menu .ui-menu-item {
	white-space: nowrap;
}

.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
	margin: 0;
}

.ui-dialog .ui-dialog-content {
	padding: 0;
}

div.ui-dialog form {
	margin: 0;
}

div.ui-dialog form fieldset {
	margin: 0 0 5px 0;
	border: none;
	padding: 0;
}

div.ui-dialog form label,
#ui-file-select-filter-label,
#ui-image-select-filter-label {
	float: left;
	border: none;
	display: block;
	margin: 0px 5px 0 5px;
	text-align: right;
	min-width: 100px;
	width: auto;
	height: auto;
	clear: none;
}

div.ui-dialog form label {
	float: none;
	margin: 0;
	text-align: left;
}

#ui-file-select-filter-label,
#ui-image-select-filter-label {
	width: 328px;
}

div.ui-dialog form input[type="text"],
div.ui-dialog form input[type="password"],
div.ui-dialog form select,
div.ui-dialog form textarea,
#ui-file-select-filter-input,
#ui-image-select-filter-input {
	margin: 0 0 5px 0;
	border: 1px solid #666;
	outline: none;
	padding: 0 3px;
	height: 22px;
	display: block;
	text-align: left;
	vertical-align: top;
	width: 100%;
	font: inherit;
	text-decoration: inherit;
	text-transform: inherit;
	line-height: inherit;
	color: inherit;
	letter-spacing : inherit;
	background: none;
	float: none;
	clear: none;
}

#ui-file-select-filter-input,
#ui-image-select-filter-input {
    margin-top: 5px;
    width: 189px;
}

div.ui-dialog form textarea {
    padding: 3px;
    height: 80px;
}

div.ui-dialog form input[type="checkbox"] {
	float: left;
	margin: 6px 6px 0 0;
}

div.ui-dialog form select {
	font-size: 13px;
	padding: 3px;
}

div.ui-dialog form p.errornote,
div.ui-dialog form p.help {
	margin-top: 5px;
	font: inherit;
	text-decoration: inherit;
	text-transform: inherit;
	line-height: inherit;
	letter-spacing : inherit;
	color: #ff0000;
}

div.ui-dialog form p.help {
	font-size: 11px;
	line-height: 120%;
	color: #999;
	font-style: italic;
}

div.ui-dialog form label.required {
	font-weight: bold;
}

div.ui-dialog form label.vCheckboxLabel {
	text-align: left;
	width: auto;
}

div.ui-dialog form h2 {
	font-weight: bold;
	font-size: 100%;
}

.ui-dialog form .advanced-button {
	display: block;
	margin: 0 -15px;
	padding: 3px 15px;
	font-weight: bold;
	line-height: 21px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
	text-decoration: none;
	background: none;
	background-color: #eaeaea;
}

.ui-dialog form .advanced-button .toggler {
	display: block;
	float: left;
	margin: 7px 4px;
	width: 8px;
	height: 8px;
	background: transparent url(../images/arrow-down.png) no-repeat left top;
	text-indent: -9000px;
}

.ui-dialog form .advanced-button.closed .toggler {
	margin-top: 6px;
	background-image: url(../images/arrow-right.png);
}

.ui-dialog .hide-label {
	margin: 0;
}

.ui-dialog .hide-label label {
	display: none;
}

/* .cke_chrome and .cke_inner selectors used for CKEditor 4 */

.ui-dialog .cke_chrome {
	float: none;
	padding: 0;
	border: none;
}

.ui-dialog .cke_inner {
	border-radius: 0;
}

.ui-dialog .ui-dialog-buttonpane {
	margin-top: 0;
	padding: 0;
	border-top: 1px solid #a6a6a6;
	background: #d5d5d5;
	background: -webkit-gradient(linear, left top, left bottom, from(#eaeaea), to(#c2c2c2));
	background: -moz-linear-gradient(top, #eaeaea, #c2c2c2);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#eaeaea', endColorstr='#c2c2c2');
}

.ui-dialog .ui-dialog-buttonpane button.upload {
	float: left;
}

div.ui-widget-overlay {
	position: fixed;
}

.ui-dialog-buttonset select#id_template_name {
	margin: 0 0 5px 0;
	border: 1px solid #666;
	outline: none;
	padding: 3px;
	max-width: 200px;
	position: absolute;
	bottom: 10px;
	left: 15px;
	font-size: 13px;
	background-color: #fff;
}

#df-layer .ui-droppable {
	position: absolute;
	height: 16px;
	background: #ccc;
	opacity: 0.35;
	filter: alpha(opacity=35);
}

#df-layer .ui-d.ui-state-default {
	background: #aaa;
}

#df-layer .ui-droppable.ui-state-hover {
	background: #555;
}

#df-layer .ui-draggable-dragging {
	background: #ccc;
}

ul.ui-context-menu {
	position: absolute;
	z-index: 910;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

/* ---[ Clearing elements ]--- */

/* clear float container without source markup - http://www.positioniseverything.net/easyclearing.html */
.form-row:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	font-size: 0;
	line-height: 0;
}

/* ---[ Django admin ]--- */

span.nobr {
	white-space: nowrap;
}

.ui-dialog .ui-dialog-content.dialog {
	padding: 10px 15px;
}

.ui-dialog .ui-dialog-content.dialog p {
	margin-bottom: 1em;
	line-height: 150%;
}

.ui-dialog .ui-dialog-content.dialog p strong {
	font-weight: bold;
}

/* ---[ Custom Forms ]--- */

.df-admin #contentitem_form {
	overflow: hidden;
}

.df-admin #login-form,
.df-admin #page_form {
	padding: 10px 15px;
}

.df-admin #login-form {
	width: 200px;
}

.df-admin #page_form {
	overflow: hidden;
	padding: 0 15px;
	width: 295px;
}

.df-admin #page_form fieldset {
	margin: 0;
	padding: 10px 0;
}

.df-admin #page_form fieldset p.help {
	margin: 0;
}

.df-admin #page_form fieldset input[type="text"],
.df-admin #page_form fieldset textarea {
	width: 287px;
}

.df-admin #page_form fieldset textarea {
    height: 55px;
}

.df-admin #page_form select {
	border: auto;
	width: 100%;
}

/* ---[ tree ] --- */
/* This is a copy of jqtree.css because styles are reset */

ul.jqtree-tree {
    margin-left: 12px;
}

ul.jqtree-tree,
ul.jqtree-tree ul {
    list-style: none outside;
    margin-bottom: 0;
    padding: 0;
}

ul.jqtree-tree ul {
    display: block;
    margin-top: 0;
    margin-left: 12px;
    margin-right: 0;
}

ul.jqtree-tree li.jqtree-closed > ul {
    display: none;
}

ul.jqtree-tree li {
    list-style-type: none;
    clear: both;
}

ul.jqtree-tree .jqtree-toggler {
    display: block;
    position: absolute;
    left: -1.5em;
    top: 30%;
    *top: 0;  /* fix for ie7 */
    font-size: 12px;
    line-height: 12px;
    font-family: arial;  /* fix for ie9 */
    border-bottom: none;
    color: #333;
}

ul.jqtree-tree .jqtree-toggler:hover {
    color: #000;
}

ul.jqtree-tree div {
    height: 22px;
    cursor: pointer;
}

ul.jqtree-tree .jqtree-title {
    color: #1C4257;
}

ul.jqtree-tree li.jqtree-folder {
    margin-bottom: 4px;
}

ul.jqtree-tree li.jqtree-folder.jqtree-closed {
    margin-bottom: 1px;
}

ul.jqtree-tree li.jqtree-folder .jqtree-title {
    margin-left: 0;
}

ul.jqtree-tree .jqtree-toggler.jqtree-closed {
    background-position: 0 0;
}

span.jqtree-dragging {
    color: #fff;
    background: #000;
    opacity: 0.6;
    cursor: pointer;
    padding: 2px 8px;
}

ul.jqtree-tree li.jqtree-ghost {
    position: relative;
    z-index: 10;
    margin-right: 10px;
}

ul.jqtree-tree li.jqtree-ghost span {
    display: block;
}

ul.jqtree-tree li.jqtree-ghost span.jqtree-circle {
    background-image: url(../js/jqtree/jqtree-circle.png);
    background-repeat: no-repeat;
    height: 8px;
    width: 8px;
    position: absolute;
    top: -4px;
    left: 2px;
}

ul.jqtree-tree li.jqtree-ghost span.jqtree-line {
    background-color: #0000ff;
    height: 2px;
    padding: 0;
    position: absolute;
    top: -1px;
    left: 10px;
    width: 100%;
}

ul.jqtree-tree li.jqtree-ghost.jqtree-inside {
    margin-left: 48px;
}

ul.jqtree-tree span.jqtree-border {
    position: absolute;
    display: block;
    left: -2px;
    top: 0;
    border: solid 2px #0000ff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    margin: 0;
}

ul.jqtree-tree div {
    width: 100%; /* todo: why is this in here? */
    *width: auto; /* ie7 fix; issue 41 */
    position: relative;
}

ul.jqtree-tree li.jqtree-selected > div,
ul.jqtree-tree li.jqtree-selected > div:hover {
    background-color: #97BDD6;
    background: -webkit-gradient(linear, left top, left bottom, from(#BEE0F5), to(#89AFCA));
    background: -moz-linear-gradient(top, #BEE0F5, #89AFCA);
    background: -ms-linear-gradient(top, #BEE0F5, #89AFCA);
    background: -o-linear-gradient(top, #BEE0F5, #89AFCA);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}

ul.jqtree-tree .jqtree-moving > div .jqtree-title {
    outline: dashed 1px #0000ff;
}

/* jqtree custom */
#df-wpr-sidebar .jqtree-tree {
	margin-left: 12px;
}

#df-wpr-sidebar .jqtree-tree .jqtree-toggler {
	color: #666;
    font-size: 9px;
}

#df-wpr-sidebar ul.jqtree-tree ul {
    margin-left: 12px;
}

.ui-dialog-content ul.jqtree-tree .df-page .df-icon,
#df-wpr-sidebar ul.jqtree-tree .df-page .df-icon {
    background-image: url(../images/icon-page.png);
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin: -2px 4px 0 2px;
    vertical-align: middle;
}

.ui-dialog-content ul.jqtree-tree .df-page.df-redirect .df-icon,
#df-wpr-sidebar ul.jqtree-tree .df-page.df-redirect .df-icon {
    background-image: url(../images/icon-page-redirect.png);
}

.ui-dialog-content ul.jqtree-tree .df-page.df-hidden-in-menu .df-icon,
#df-wpr-sidebar ul.jqtree-tree .df-page.df-hidden-in-menu .df-icon {
    background-image: url(../images/icon-page-hidden.png);
}

.ui-dialog-content ul.jqtree-tree .df-page.df-non-public .df-icon,
#df-wpr-sidebar ul.jqtree-tree .df-page.df-non-public .df-icon {
    background-image: url(../images/icon-page-non-public.png);
}

.ui-dialog-content ul.jqtree-tree .df-page.df-non-editable .jqtree-title,
#df-wpr-sidebar ul.jqtree-tree .df-page.df-non-editable .jqtree-title {
    color: #666;
}

.jqtree-tree .df-page,
#df-sidebar-content-tree .jqtree-title {
   white-space: nowrap;
}

/* permissions-related styling */
.ui-dialog .df-non-editable,
#df-wpr-sidebar .sidebar-tree .df-non-editable .title {
	color: #666;
}

/* page selection tree in dialog */
.ui-dialog-content ul.jqtree-tree {
	margin-left: 20px;
	margin-top: 4px;
}

.ui-dialog-content ul.jqtree-tree ul {
	margin-top: 0;
	margin-bottom: 0;
}

.ui-dialog-content ul.jqtree-tree li {
	margin-top: 0;
	margin-bottom: 0;
    font-size: 11px;
    line-height: 14px;
}

.ui-dialog-content ul.jqtree-tree div {
	line-height: 22px;
}

.ui-dialog-content ul.jqtree-tree .jqtree-toggler {
	font-size: 10px;
	top: 25%;
}

.ui-dialog-content ul.jqtree-tree .jqtree-toggler:hover {
	text-decoration: none;
}

/* file and image grid */
.simple-data-grid {
	width: 100%;
    font-size: 11px;
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
	color: #333;
}

.simple-data-grid thead th {
    vertical-align: top;
}

.simple-data-grid thead th a {
	color: #333;
}

.simple-data-grid tbody td {
    vertical-align: top;
    word-wrap: break-word;
}

.simple-data-grid tbody .selected,
.simple-data-grid tbody .selected:hover {
	text-shadow: 0px 1px 0px rgba(255,255,255,0.7);
}

.simple-data-grid tfoot {
	background-color: #f6f6f6;
}

.simple-data-grid tfoot .pagination li {
    list-style-type: none;
    font-size: 11px;
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
}

.simple-data-grid tfoot .pagination a {
    text-decoration: none;
}

#ui-image-select-grid img {
	width: 111px;
}

.simple-data-grid thead th a .sort {
	top: 4px;
}
