{% load compress %}

<script src="{% url django.views.i18n.javascript_catalog %}" type="text/javascript"></script>

{% compress js %}
<script type="text/javascript">
	var LANGUAGE_CODE = '{{ LANGUAGE_CODE }}'
	var STATIC_URL = '{{ STATIC_URL }}';
	var BACKEND_BASE_URL = '{{ BACKEND_BASE_URL }}';
	var FIBER_LOGIN_URL = '{{ FIBER_LOGIN_URL }}';
</script>
<script src="{{ STATIC_URL }}fiber/js/jquery-1.5.2.min.js" type="text/javascript"></script>

<script src="{{ STATIC_URL }}fiber/js/simple-javascript-inheritance.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}fiber/js/jquery.dataset.js" type="text/javascript"></script>

<script src="{{ STATIC_URL }}fiber/js/jquery-ui-1.9m4/ui/jquery-ui.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}fiber/js/jquery.json-2.2.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}fiber/js/jquery-ui-combobox.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}fiber/js/jquery-xqs-flyoutMenu.js" type="text/javascript"></script>

<script src="{{ STATIC_URL }}fiber/js/jquery.slugify.js" type="text/javascript"></script>

<script src="{{ STATIC_URL }}fiber/js/jquery.cookie.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}fiber/js/jqtree/tree.jquery.js" type="text/javascript"></script>

<script src="{{ STATIC_URL }}fiber/js/jquery.jqGrid-3.8/js/i18n/grid.locale-{{ LANGUAGE_CODE|slice:"2" }}.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}fiber/js/jquery.jqGrid-3.8/js/jquery.jqGrid.min.js" type="text/javascript"></script>

<script src="{{ STATIC_URL }}fiber/js/jquery.form-2.73.js" type="text/javascript"></script>

<script src="{{ STATIC_URL }}fiber/js/file-uploader/fileuploader.js" type="text/javascript"></script>

<script src="{{ STATIC_URL }}fiber/js/admin-extra.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}fiber/js/admin.js" type="text/javascript"></script>
{% endcompress %}

{% if editor_template_js %}
	{% include editor_template_js %}
{% endif %}

{% compress css %}
<link rel="stylesheet" href="{{ STATIC_URL }}fiber/css/df-reset.css" type="text/css" media="screen" />
<link rel="stylesheet" href="{{ STATIC_URL }}fiber/css/Aristo-jQuery-UI-Theme/css/Aristo/jquery-ui-1.8.5.custom.css" type="text/css" media="screen" />
<link rel="stylesheet" href="{{ STATIC_URL }}fiber/js/jquery.jqGrid-3.8/css/ui.jqgrid.css" type="text/css" media="screen" />
<link rel="stylesheet" href="{{ STATIC_URL }}fiber/css/widgets.css" type="text/css" media="screen" />
<link rel="stylesheet" href="{{ STATIC_URL }}fiber/css/admin.css" type="text/css" media="screen" />

{% if editor_template_css %}
	{% include editor_template_css %}
{% endif %}
{% endcompress %}
