language: python
python:
  - 2.7
  - 3.4
env:
  - DJANGO_VERSION=\>=1.8,\<1.9
  - DJANGO_VERSION=\>=1.9,\<1.10
  - DJANGO_VERSION=\>=1.10,\<1.11
install:
  - pip install --upgrade pip
  - pip install Django$DJANGO_VERSION --upgrade
  - pip install -q -e .
  - pip install -q -r test-requirements.txt
script:
  - coverage run testproject/manage.py test fiber_test
after_success:
  - coveralls
branches:
  only:
    - master
    - dev
sudo: false
