language: python
python:
  - 2.6
  - 2.7
env:
  - DJANGO_VERSION=1.4.8
  - DJANGO_VERSION=1.5.4
install:
  - pip install Django==$DJANGO_VERSION
  - "pip install . --use-mirrors"
  - "pip install -r testproject/requirements.txt --use-mirrors"
script:
  - cd testproject
  - mkdir -p reports
  - python manage.py jenkins
branches:
  only:
    - master
    - dev
