.simple-data-grid {
    border-collapse: collapse;
}

.simple-data-grid thead th,
.simple-data-grid tbody tr:hover {
    background: #dfdfdf;
    background: -webkit-gradient(linear, left top, left bottom, from(#eaeaea), to(#d3d3d3));
    background: -moz-linear-gradient(top, #eaeaea, #d3d3d3);
    background: -ms-linear-gradient(top, #eaeaea, #d3d3d3);
    background: -o-linear-gradient(top, #eaeaea, #d3d3d3);
}

.simple-data-grid thead th {
    font-weight: bold;
    padding: 0.5em;
    border-right: solid 1px #ccc;
    text-align: left;
}

.simple-data-grid thead th a {
    color: #000;
    text-decoration: none;
}

.simple-data-grid thead th a .sort {
    margin-left: 1em;
}

.simple-data-grid thead tr.sorted:hover {
    cursor: pointer;
}

.simple-data-grid thead th:last-child {
    border-right: none;
}

.simple-data-grid thead th:hover {
    background: #e4e4e4;
    background: -webkit-gradient(linear, left top, left bottom, from(#d3d3d3), to(#eaeaea));
    background: -moz-linear-gradient(top, #d3d3d3, #eaeaea);
    background: -ms-linear-gradient(top, #d3d3d3, #eaeaea);
    background: -o-linear-gradient(top, #d3d3d3, #eaeaea);
}

.simple-data-grid tbody td {
    padding: 0.5em;
}

.simple-data-grid tbody tr {
    border-bottom: solid 1px #ddd;
}

.simple-data-grid tbody .selected,
.simple-data-grid tbody .selected:hover {
    background: #97bdd6;
    background: -webkit-gradient(linear, left top, left bottom, from(#bee0f5), to(#89afca));
    background: -moz-linear-gradient(top, #bee0f5, #89afca);
    background: -ms-linear-gradient(top, #bee0f5, #89afca);
    background: -o-linear-gradient(top, #bee0f5, #89afca);
}

.simple-data-grid tfoot td {
    padding: 0.5em;
}

.simple-data-grid tfoot .pagination {
    background: #eaeaea;
    text-align: center;
}

.simple-data-grid tfoot .pagination ul {
    list-style: none;
    margin: 0;
    padding: 0;
    float: none;
    display: inline-block;
    overflow: hidden;
}

.simple-data-grid tfoot .pagination li {
    float: left;
}

.simple-data-grid tfoot .pagination a {
    padding: 0 0.5em;
}

.simple-data-grid tfoot .pagination li.disabled a,
.simple-data-grid tfoot .pagination li.disabled a:hover,
.simple-data-grid tfoot .pagination li.active a,
.simple-data-grid tfoot .pagination li.active a:hover {
    cursor: default;
    text-decoration: none;
    color: #000;
}

.sprite-icons-up,
.sprite-icons-down {
    display: inline-block;
    text-indent: -9999px;
}

.sprite-icons-up,
.sprite-icons-down{background-image:url(simple-data-grid-icons.png);background-repeat:no-repeat}
.sprite-icons-up{background-position:0px 0px;width:9px;height:8px;line-height:8px;}
.sprite-icons-down{background-position:-9px 0px;width:9px;height:8px;line-height:8px;}
