/* Do not replace icons in paginator. Seems not to work in ie7.
*/
.sprite-icons-last,
.sprite-icons-last-disabled,
.sprite-icons-first,
.sprite-icons-first-disabled,
.sprite-icons-previous,
.sprite-icons-previous-disabled,
.sprite-icons-next,
.sprite-icons-next-disabled {
	background-image: none;
	text-indent: 0;
	height: auto;
	width: auto;
	line-height: auto;
	display: inline;
}
