{% extends "admin/change_form.html" %}{% load i18n %}

{% block object-tools %}
{% if change and not is_popup %}
  <ul class="object-tools">
    <li><a href="../add/?parent={{ original.id }}" class="addlink">{% trans "Add Subpage" %}</a></li>
    <li><a href="history/" class="historylink">{% trans "History" %}</a></li>
    {% if original.get_absolute_url %}<li><a href="{{ original.get_absolute_url }}" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif %}
  </ul>
{% endif %}
{% endblock %}
